<!--[if lt IE 8]>
  <p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
    experience.
  </p>
<![endif]-->

<!-- Body main wrapper start -->
<div class="wrapper">
    <!-- START HEADER AREA -->
    <header class="header-area header-wrapper">
        <!-- header-top-bar -->
        <!-- header-middle-area -->
        <div class="header-middle-area plr-185">
            <div class="container-fluid">
                <div class="full-width-mega-dropdown">
                    <div class="row">
                        <!-- logo -->
                        <div class="col-lg-2 col-md-4">
                            <div class="logo">
                                <a href="/">
                                    <img src="img/logo/logo2.png" alt="main logo" />
                                </a>
                            </div>
                        </div>
                        <!-- primary-menu -->
                        <div class="col-lg-8 d-none d-lg-block">
                            <nav id="primary-menu">
                                <ul class="main-menu text-center">
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="mega-parent">
                                        <a href="/shop">Products</a>
                                    </li>
                                    <li>
                                        <a href="/about">About us</a>
                                    </li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- header-search -->
                        <div class="col-lg-2 col-md-8">
                            <div class="search-top-cart f-right">
                                <!-- header-search -->
                                <div class="header-search f-left">
                                    <div class="header-search-inner">
                                        <button class="search-toggle"><i class="zmdi zmdi-search"></i></button>
                                        <form action="/search" method="get">
                                            <div class="top-search-box">
                                                <input type="text" name="dsearch" placeholder="Search here your product..." />
                                                <button type="submit" value="search"><i class="zmdi zmdi-search"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER AREA -->

    <!-- START MOBILE MENU AREA -->
    <div class="mobile-menu-area d-block d-lg-none section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/shop">Products</a>
                                </li>
                                <li>
                                    <a href="/about">About Us</a>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MOBILE MENU AREA -->