<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Boss</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="img/logo/logo.jpeg" />

<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="description" content=""/>
<meta name="format-detection" content="telephone=yes"/>
<meta name="keywords" content="boss man, boss, boss men, bossman, bossmen, boss Man"/>
<meta name="HandheldFriendly" content="true"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="content-language" content="en"/>
<meta name="author" content="Boss"/>
<meta property="og:site_name" content="boss-man.net"/>
<meta property="article:publisher" content="/bossman"/>
<!-- All CSS Files -->
<!-- Bootstrap fremwork main css -->
<link rel="stylesheet" href="css/bootstrap.min.css" />
<!-- Nivo-slider css -->
<link rel="stylesheet" href="lib/css/nivo-slider.css" />
<!-- This core.css file contents all plugings css file. -->
<link rel="stylesheet" href="css/core.css" />
<!-- Theme shortcodes/elements style -->
<link rel="stylesheet" href="css/shortcode/shortcodes.css" />
<!-- Theme main style -->
<link rel="stylesheet" href="style.css" />
<!-- Responsive css -->
<link rel="stylesheet" href="css/responsive.css" />
<!-- User style -->
<link rel="stylesheet" href="css/custom.css" />

<!-- Style customizer (Remove these two lines please) -->
<link rel="stylesheet" href="css/style-customizer.css" />
<link href="#" data-style="styles" rel="stylesheet" />

<!-- Modernizr JS -->
<script src="js/vendor/modernizr-2.8.3.min.js"></script>
