<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- body -->
    <%- include('../contact_include/body'); %>

        <!-- Placed JS at the end of the document so the pages load faster -->
        <%- include('../contact_include/scripts'); %>
</body>

</html>