<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../index_include/body'); %>
    <!--=======================Javascript============================-->
    <!-- build:js assets/js/app.min.js -->
    <%- include('../partials/scripts'); %>
</body>

</html>