<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <!-- Body main wrapper start -->
    <%- include('../singleCarSales/body'); %>
    
    <%- include('../partials/scripts'); %>
  </body>
</html>
